<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/maria/eclipse-workspace/Plethora/src/test/java/testScript/TestScript1.java">
        <classes>
            <class name="testScript.TestScript1">
                <methods>
                    <include name="test1"/><include name="test2"/><include name="test3"/>
                </methods></class></classes></test></suite>